// .container {
//   position: absolute;
//   top: 30%;
//   left: 10px;
//   text-align: center;
// }

.mainContainer {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.container h2 {
  font-size: 5rem;
}

.container a {
  font-size: 1.4rem;
}
