

.mainPanel {
  float: left;
  color: rgb(18, 18, 18);
  // width: 80%;
  width: 74vw;
  margin-top: 2vh;
  padding: 2vh 2vw 2vh 2vw;
  height: 100vh;
}

.header {
  border-bottom: 2px solid rgb(200, 200, 200);
  padding-left: 0.5em;
  padding-bottom: 1vh;
  // padding: 0.5em;
  width: 100%;
}

.title {
  font-size: 2.5em;
  font-weight: bold;
}
.editLayout {
  float: right;
  color: rgb(100, 100, 100);
  right: 0;
  line-height: 5em;
  cursor: pointer;
}

.mainBody {
  overflow-y: scroll;
  background-color: rgb(240, 240, 240);
  height: calc(100% - 5em);
  width: 100%;
  margin-top: 3vh;
  // z-index: 20;
  // padding: 1em;
}

.mainBody div {
  background-color: rgb(220, 220, 220);
  // background-color: red;
  margin-bottom: 1vh;
  
}
